*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#intro_page {
    top: 0;
    left: 0;
    // width: 100%;
    // height: 100%;
    position: relative;
    z-index: 1000;
}

.container {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

footer img {
    height: 30px;
    width: 30px;
}

.Nav-link {
    display: flex;
    align-items: center;
}

.button {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
}

#info {
    position: absolute;
    margin-right: 80px;
    z-index: 10;
    background-image: url(../src/img/info.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

#changeView {
    position: absolute;
    margin-right: 20px;
    z-index: 10;
    background-image: url(../src/img/next.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

audio {
    width: 250px;
    height: 25px;
    margin-left: 20px;
    position: relative;
    z-index: 5;
}

#music {
    position: absolute;
}

audio::-webkit-media-controls-panel {
    background-color: rgba(0, 84, 83, 0.786);
}

